{{#em-form model=model submit_button=false}}
    {{em-input id="name" label="Name" property="name"}}
    {{em-input id="password" type="password" label="Password" property="password"}}
    {{em-input id="confirm_password" type="password" label="Confirm" property="confirm_password"}}
    <button style="margin-left: -15px;" id="add_person" class="btn btn-success" {{bind-attr disabled=isInvalid}} {{action "submit"}}>Create Person</button>
{{/em-form}}
